.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: row;
  color: var(--white);
  width: 80%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  /* padding: clamp(24px, 5vw, 48px) clamp(16px, 6vw, 64px); */
  padding: 80px 0;
  gap: 40px;
  flex-wrap: wrap;
}

.textSection {
  flex: 1;
  min-width: 300px;
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--primary-orange);
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 32px;
}

.heading {
  font-size: clamp(28px, 5vw, 54px);
  line-height: clamp(36px, 6vw, 56px);
  font-weight: 900;
  letter-spacing: 2px;
  width: 75%;
}
.helpWithIcon {
  position: relative;
  display: inline-block;
  z-index: 1;
  margin-right: 45px;
}

.helpWithIcon::after {
  content: "";
  position: absolute;
  top: -22px;
  right: -28px;
  width: 90px;
  height: 90px;
  background-image: url("../../assets/Images/Star.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
}

.subText {
  color: var(--white-a3);
  font-weight: 400;
  font-size: clamp(14px, 2vw, 16px);
  line-height: clamp(24px, 4vw, 32px);
  letter-spacing: 0px;
  width: 95%;
  opacity: 64%;
}

.actions {
  margin: 20px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.primaryButton {
  text-transform: uppercase !important;
  line-height: 100%;
  letter-spacing: 0px;
  background-color: var(--primary-orange) !important;
  font-weight: 900 !important;
  font-size: clamp(12px, 1.8vw, 14px) !important;
  padding: 10px 20px !important;
  width: auto;
}

.contactLink {
  color: var(--white);
  font-size: 16px;
  align-self: center;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-decoration: none;
}

.testimonial {
  display: flex;
  align-items: center;
  gap: 30px;
}

.testimonial > img {
  width: 50px;
  border-radius: 50%;
}

.testimonial p {
  font-size: 16px;
  color: var(--white-a3);
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  opacity: 64%;
}

.testimonial span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  color: var(--white);
}

.visualSection {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.visualSection img {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 1024px) {
  .heading {
    font-size: 40px;
    line-height: 48px;
  }

  .subText {
    font-size: 15px;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px 0;
    /* width: 80%; */
    gap: 32px;
  }
  .helpWithIcon {
    margin-right: 0;
  }
  .helpWithIcon::after {
    display: none;
  }
  .textSection {
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
  }

  .heading {
    font-size: 45px;
    line-height: 60px;
    width: 100%;
  }

  .subText {
    font-size: 16px;
    line-height: 32px;
    width: 100%;
    opacity: 0.8;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .primaryButton {
    padding: 14px !important;
    font-size: 14px !important;
  }

  .contactLink {
    font-size: 16px;
    line-height: 32px;
  }

  .testimonial {
    flex-direction: row;
    gap: 12px;
  }

  .testimonial > img {
    width: 48px;
  }

  .visualSection {
    order: -1;
    text-align: center;
    width: 100%;
  }

  .visualSection img {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .textSection {
    align-items: flex-start;
    text-align: left;
  }
  .testimonial p {
    width: 80%;
  }
  /* .home {
    padding: 80px 20px;
  } */
}
