@import "@fontsource/epilogue";

:root {
  --primary-bg: #1e1e2f;
  --primary-orange: #ef6d58;
  --white: #ffffff;
  --white-a3: #ffffffa3;

  --font-epilogue: "Epilogue";

  background-color: var(--primary-bg);
  font-family: var(--font-epilogue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
